/AnalysisManager.class
/CRUDManager.class
/FileManager.class
/PaginationManager.class
/TextEditorGUI$1.class
/TextEditorGUI$LemmatizationCaretListener.class
/TextEditorGUI.class
/TextPresentationApp$1.class
/TextPresentationApp$2.class
/TextPresentationApp.class
/fontSelector.class
